*{
    margin:0;
   padding:0;

}
.color_gris{
    background-color: #095b6d;
}
.hover:hover{
    background-color: aliceblue;
    color: black;
}
.letras_blancas{
    font-family: 'Audiowide',Arial;
    color: aliceblue;
}
:link{
    text-decoration: none;
    text-decoration-color: aliceblue;
}
a:link{
    color: aliceblue;
}
.nav-link{
    margin: 5px;
    color: aliceblue;
}
.index{
    background-image:url("./src/img/background__index.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.redes_icono{
    width: 75px;
    height: 75px;
    margin-top: 10px;
}
.descripciones{
    font-family: 'Bebas Neue',Arial;
    font-size:x-large;
    place-items: center;
    color: darkgrey;
}
.agnus{
    background-color: #036D19;
}
.ralathor{
    background-color: #3B7080;
    color: #2b01017a;
}
.hootsman{
    background-color: #932F6D;
}
.proletius{
    background-color: #8d5a12;
}
.zargothrax{
    background-color: #491111;
}
.padding{
    padding: 30px;
}

