*{
    margin:0;
   padding:0;

}
.color_gris{
    background-color: #095b6d;
}
.hover:hover{
    background-color: aliceblue;
    color: black;
}
.letras_blancas{
    font-family: 'Audiowide',Arial;
    color: aliceblue;
}
:link{
    text-decoration: none;
    text-decoration-color: aliceblue;
}
a:link{
    color: aliceblue;
}
.nav-link{
    margin: 5px;
    color: aliceblue;
}
/* .carrusel_video{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px;
} */
.index{
    background-image:url("./src/img/background__index.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.redes_icono{
    width: 75px;
    height: 75px;
}
